Welcome to {{ .BotUsername }} Help!

Here's a list of commands that you can use:
{{ .Commands }}

Remember, you can always type {{ .HelpCmd }} to see this list of commands again.

Enjoy planning and going on your bike trips with {{ .BotUsername }}!
